index rt_logs
{
  type = rt
  path = /var/lib/sphinxsearch/data/rt_logs
  charset_type = utf-8
  min_word_len = 1
  html_strip   = 1
  enable_star  = 1
  rt_mem_limit = 256M

  rt_field = timestamp
  rt_field = message
  rt_attr_string = timestamp
  rt_attr_string = message
  rt_attr_json = logjson
}

searchd
{
  listen = 127.0.0.1:9327:mysql41
  pid_file = /var/run/searchd_rt.pid
  max_children = 30
  max_matches = 1000
  log = /var/lib/sphinxsearch/searchd_rt.log
  query_log = /var/lib/sphinxsearch/query_rt.log
  binlog_path = /var/lib/sphinxsearch/data/rt_logs
  seamless_rotate = 1
  unlink_old = 1
  workers = threads
}
